*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: white;
    padding-left:30px;
    padding-top:10px;
    margin:5px;
    max-width:1024px;
}
header a{
    text-decoration: none;
    padding:15px;
    font-size:20px;
    color:black;
}
a:hover{
    color:rgb(255, 217, 0);
}
body{
    margin:0 auto;
    text-align: center;
}
article{
    position:relative;
    width:100vw;
    height:100vh;
    text-align: center;
    font-size:40px;
    color:white;
    background-image: url(Imagens/bg-estacao.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin:auto;
    max-width: 1024px;
    box-sizing: border-box;
   
}
article::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.destaque{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 60px 20px;
    
}

section{
padding: 60px 20px;
}
    
section h2{
    margin:15px;
}
section img{
    margin-bottom:10px;
}
.sobre p::first-letter{
   font-weight: bold;
   font-size:20px;
   font-style: italic;
}
.turistico{
    background-color: rgb(179, 173, 173);
    margin:auto;
}
.turistico p{
    text-align: justify;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 12px 0 0px 0;
}

li::before {
    content:"";
    width: 20px;
    height: 20px;
    background-image: url("Imagens/seta.png");
    margin: 0 6px 0 0;
}

.galeria img{
    display:inline;
    overflow: auto;
    width: calc((100% / 3) - 3px);
    opacity: 0.6;
}
.galeria img:hover{
    opacity: 1;
}














footer{
   background-color: rgb(197, 140, 33);
   padding:20px;
}